# Large WorldClim rasters cropped to South America
inputs/WorldClim2.1_SouthAmerica/*
!inputs/WorldClim2.1_SouthAmerica/README.md

# R / RStudio temporary files
.Rhistory
.RData
.Ruserdata/
.Rproj.user/

# Auxiliary raster/GIS files
*.aux.xml
*.ovr
*.tmp
*.tfw